<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.email %>

        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% if question.answers.any? %>
          <h4>Answers</h4>
          <%= render question.answers %>
        <% end %>
        
        <br>

        <p>Add Answers</p>
        <%= form_for([question,question.answers.build]) do |f| %>
          <%= f.text_area :content %>
          <%= submit_tag "Add" %>
          <% end %>


  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
